p {
    font-family: Arial;
}

h1 {
    font-family: Georgia;
}

h1 {
    font-size: 100px;
}

span {
    font-size: 2.0em;
}

p {
    font-weight: normal;
}

p {
    line-height: 1.5;
}

h1 {
    text-align: center;
}

p {
    text-decoration: underline;
}

h1 {
    text-decoration: line-through;
}