body {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 700px;
    width: 80%;
    margin: 15px auto;
    border: 15px solid #bdc3c7;
    padding: 15px;
    text-align: justify;
}

h2 {
    color: #2c3e50;
    font-weight: bold;
    font-size: 2.0rem;
}

.date {
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.intro {
    border-left: 5px solid #bdc3c7;
    padding: 5px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

article {
    margin-bottom: 20px;
}