#content {
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                 0px 8px 12px rgba(0, 0, 0, 0.1),
                 0px 18px 23px rgba(0, 0, 0, 0.1);
}

html {
    /* This prevents the backgroud image to repeat */
    height: 100%;
}

body {
    background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467);
    background-size: cover;
    background-position: center;
    font-family: 'Lato', sans-serif;
    color: white;
}

h1 {
  font-weight: bold;
  font-size: 5em;
}

hr {
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 400px;
}