p {
    /* Content Size */
    width: 50%;
    
    /* Border */
    border: 2px solid blue;
    
    /* Space between border and content */
    padding: 10px;

    /* Space between border and other elements */
    
    /*margin: 100px;*/

    /*margin: 20px 50px 10px 20px;*/

    /*margin: 0 auto 0 auto;*/

    /* Center: Top-Bottom Left-Right*/
    margin: 0 auto;
}